/* ABOUT SECTION */

#About {
  padding: 30px 0;
}

/* Text */
.para {
  margin-top: 16px;
  font-size: 1rem;
  color: #cbd5e1;
  line-height: 1.7;
}

/* Layout */
.hero {
  margin: 0px 0px 10px 0px;
  display: flex;
  gap: 40px;
  align-items: center;
}

.heading {
  font-size: 3rem;
  line-height: 1.2;
}

.cyan {
  color: oklch(71.5% 0.143 215.221);
}

/* Left */
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 28px;
  flex: 1;
}

/* Button */
.btn {
  background-color: oklch(48.8% 0.243 264.376);
  color: #fff;
  padding: 12px 26px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 500;
  display: inline-block;
  transition: background-color 0.25s ease, transform 0.2s ease;
}

.btn:hover {
  background-color: oklch(60.8% 0.243 264.376);
  transform: translateY(-2px);
}
.resume-actions {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

/* Outline button */
.btn.outline {
  background: transparent;
  color: #22d3ee;
  border: 1px solid #22d3ee;
}

.btn.outline:hover {
  background: #22d3ee;
  color: #000;
}

/* Right */
.wrapper2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  
}

/* Image */
.profile-img {
  width: 280px;
  height: 400px;
  object-fit: cover;
  border-radius: 16px;
}

/* Social */
.social-links {
  display: flex;
  gap: 14px;
}

.social-links a {
  color: #cbd5e1;
  transition: transform 0.2s ease, color 0.2s ease;
}

.social-links a:hover {
  transform: translateY(-3px);
  color: #22d3ee;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .hero {
    flex-direction: column;
    text-align: center;
  }

  .wrapper {
    align-items: center;
  }

  .heading {
    font-size: 2.4rem;
  }

  .profile-img {
    width: 240px;
    height: auto;
  }
}

@media (max-width: 600px) {
  .heading {
    font-size: 2rem;
  }

  .btn {
    padding: 10px 22px;
  }
}
