/*about*/
.para {
    margin-top: 16px;
  font-size: 1 rem;
  color: #cbd5e1;
  line-height: 1.7;
}
.hero {
  margin: 60px 0px;
  display: flex;
  gap: 15px;
}
.h {
  font-size: 3rem;
}
.cyan {
  color: oklch(71.5% 0.143 215.221);
}
.wreapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: flex-start;
  gap: 40px;
}
.btn {
  background-color: oklch(48.8% 0.243 264.376);
  color: #cfcfcf;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
}
.btn:hover {
  background-color: oklch(60.8% 0.243 264.376);
  cursor: pointer;
}
.hero img {
  width: 280px;
  height: 400px;
  border-radius: 16px;
  margin:  auto;
}

.linkdih{

  display: flex;
  gap: 10px;
  
}
.github {
  width: 0px;
  height: 0px;
}
.wreapper2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

 /* hero section responsive */
@media (max-width: 900px) {
  .hero {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .wreapper {
    align-items: center;
  }

  .hero img {
    width: 240px;
    height: auto;
  }
}
/* improved spacing  */
@media (max-width: 600px) {
  .hero {
    margin: 40px 0;
    gap: 30px;
  }

  .h {
    font-size: 2.2rem;
  }

  .btn {
    padding: 10px 20px;
  }
}
